@using Webdiyer.WebControls.Mvc
@model PagedList<Models.News>
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Areas/Back/Views/Shared/_Master.cshtml";
}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <input type="hidden" id="hfNID"  value="@ViewBag.NID" />
    <tr>
        <td height="30">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="24" bgcolor="#28bef0">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="6%" height="19" valign="bottom">
                                                <div align="center">
                                                    <img src="@Url.Content("/Areas/Back/img/tb.gif")" width="14" height="14" /></div>
                                            </td>
                                            <td width="94%" valign="bottom" style="text-align: left;">
                                                <span class="STYLE1">你现在的位置:&nbsp;&nbsp;@ViewBag.name</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 70%; height: auto;">
                                    <span class="STYLE1"><a href="@Url.Action("NewsAdd", new { NID = ViewBag.NID, img = ViewBag.img })">添 加</a></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce" id="data">
                <tr>
                    <td width="25%" bgcolor="d3eaef">标题</td>
                    <td width="20%" bgcolor="d3eaef">发布人</td>
                    <td width="20%" bgcolor="d3eaef">发布时间</td>
                    <td width="10%" bgcolor="d3eaef">点击数</td>
                    <td width="auto" bgcolor="d3eaef">基本操作</td>
               </tr>
               @if (Model != null)
               {
                   foreach (var item in Model)
                   {
                       <tr class="data">
                            <td>@item.Title</td>
                            <td>@item.Author</td>
                            <td>@item.CreateTime.Value.ToString("yyyy-MM-dd hh:mm:ss")</td>
                            <td>@item.Click</td>
                            <td>
                                <a href="@Url.Action("NewsEDIT", "News", new { ID=item.ID})">编辑</a>&nbsp;&nbsp;
                                <a href="@Url.Action("NewsDetail", "News", new { ID = item.ID })">查看</a>&nbsp;&nbsp;
                                <a href="DELNews?ID=@item.ID" onclick="return confirm('确认删除')">删除</a>
                            </td>
                        </tr>
                   }
               }
            </table>
             @if (Model != null)
             {
                <table style="width: 100%; height: 30px; text-align: left;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width: 130%;">
                            共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.TotalPageCount)/@(Model.CurrentPageIndex)页
                        
                        </td>
                        <td style="width:70%">
                            @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<span class=\"cpb\">{0}</span>" }, null, null, null)
                        </td>
                    </tr>
                </table>
             }
        </td>
    </tr>
</table>