@model Webdiyer.WebControls.Mvc.PagedList<Models.Functions>
@{
    ViewBag.Title = "FunctiondataType";
    Layout = "~/Areas/Back/Views/Shared/_Master.cshtml";
}
@using Webdiyer.WebControls.Mvc
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="30">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="24" bgcolor="#28bef0">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="6%" height="19" valign="bottom">
                                                <div align="center">
                                                    <img src="@Url.Content("/Areas/Back/img/tb.gif")" width="14" height="14" /></div>
                                            </td>
                                            <td width="94%" valign="bottom" style="text-align: left;">
                                                <span class="STYLE1">你现在的位置:&nbsp;&nbsp;功能管理</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 70%; height: auto;">
                                    <span class="STYLE1"><a href="javascript:void(0)" class="ADD">添 加</a></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce" id="data">
                <tr>    
                    <td width="10%" bgcolor="d3eaef">ID</td>
                    <td width="10%" bgcolor="d3eaef">父级ID</td>
                    <td width="20%" bgcolor="d3eaef">名称</td>
                    <td width="20%" bgcolor="d3eaef">连接地址</td>
                    <td width="10%" bgcolor="d3eaef">是否启用</td>
                    <td width="auto" bgcolor="d3eaef">基本操作</td>
               </tr>
               @if (Model != null)
               {
                   foreach (var item in Model)
                   {
                       <tr class="data">
                            <td>@item.ID</td>
                            <td>@item.ParentID</td>
                            <td>@item.FName</td>
                            <td>@item.FPath</td>
                            <td>@(item.IsLock.Value.ToString()=="0"?"否":"是")</td>
                            <td>
                                <a href="javascript:void(0)" class="EDIT" value="@item.ID">编 辑</a>&nbsp;&nbsp;
                                <a href="DELFunction?ID=@item.ID" onclick="return confirm('确认删除')">删 除</a>
                           </td>
                      </tr>
                   }
               }
            </table>
            @if (Model != null)
            {
                <table style="width: 100%; height: 30px; text-align: left;" cellpadding="0" cellspacing="0">
                    <tr >
                        <td style="width: 130%;">
                            共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.TotalPageCount)/@(Model.CurrentPageIndex)页
                        
                        </td>
                        <td style="width:70%">
                            @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<span class=\"cpb\">{0}</span>" }, null, null, null)
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>

    <script src="@Url.Content("/Areas/Back/artDialog/artDialog.js?skin=default")" type="text/javascript"></script>
    <script src="@Url.Content("/Areas/Back/artDialog/plugins/iframeTools.js")" type="text/javascript"></script>
    <script language="javascript">
        $(document).ready(function () {
            //新增
            $(".ADD").click(function () {
               art.dialog.open("FunctionADD",{ title: "添 加", lock: true, opacity: 0.5, width: 320 })
            });
            //编辑
            $(".EDIT").click(function(){
                art.dialog.open("FunctionEDIT?ID="+$(this).attr("value"),{ title: "添 加", lock: true, opacity: 0.5, width: 320 })
            });
            
        });
    </script>

