@{
    ViewBag.Title = "About";
}

<div class="about-section">
    <div class="container">
        <h3>
            ABOUT US</h3>
        <div class="about-content wow bounceIn animated animated" data-wow-delay="0.4s" style="visibility: visible;
            animation-delay: 0.4s; animation-name: bounceIn;">
            <div class="col-md-5 about-top">
                <img src="../../images/ab.jpg" class="img-responsive" alt="_blank">
            </div>
            @*<div class="col-md-7 about-text">
                @*<h4 class="col-md-3 f-logo">
                    F</h4>*@ @*<p class="col-md-9 ab">
                    Sheng Wei Trade Co., LTD is a company that provide your lots of products.
                </p>*@ @*<p class="col-md-9 ab">
                    Completely synergize resource sucking relationships via premier niche markets. Professionally
                    cultivate one-to-one customer sucking relationships via premier niche markets. service
                    with robust ideas. Dynamically innovate resource-leveling customer service for state
                    of the art customer service</p>*@ @*<div class="clearfix">
                </div>*@ @*<p class="para wow fadeInDownBig animated animated animated" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDownBig;">
                    Test, Test SanPower..</p>*@ @*</div>*@
            <p>@Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))</p>
            <div class="clearfix">
            </div>
        </div>
    </div>

@*<div class="nright">
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Products Category</span></h2>
            <ul class="b1">
                @Html.Raw(ViewBag.productCategoty)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Contact Us</span></h2>
            <ul class="b1">
                <strong>Tel:</strong>
                <br />
                86-27-88888888<br />
                86-27-88889999<br />
                86-27-99999998<br />
                <strong>Fax:</strong><br />
                86-27-89898989<br />
                <strong>Email:</strong><br />
                <a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a><br />
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
</div>

<div class="nleft">
    <div class="nleft news-top">
        <div class="news-back">
            <div style="margin-left: 10px;">
                <img src="@Url.Content("/images/ico_2.gif")" />&nbsp;&nbsp;<strong>About Us</strong></div>
        </div>
        <div class="news-content">
            @Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))
        </div>
    </div>
</div>*@


<!--<div class="nleft news-top">
    <div class="news-back">
        <div style="margin-left: 10px;">
            <img src="@Url.Content("/images/ico_2.gif")" />&nbsp;&nbsp;<strong>About Us</strong></div>
    </div>
    <div class="news-content">
        @Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))
    </div>
</div>-->
