@{
    ViewBag.Title = "About";
}

<link href="@Url.Content("~/Css/style_new.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Css/common.css")" rel="stylesheet" type="text/css" />

<div class="subMain">
    <div class="subCen">
        <div class="subNei">
            <div class="subTop">
                <div class="subLeft">
                    <div class="subLeftTop">
                        <div class="subL_Nav">
                            <div class="indexNav sL">
                                <span>About Us</span>&nbsp;&nbsp;/&nbsp;&nbsp;关于我们
                            </div>
                        </div>
                        <ul class="">
                        </ul>
                    </div>
                    <div class="subLeftBottom">
                        <div class="contactText">
                            <span>Add: No.1,2th floor ,Building 4,Case Ceramics&amp;Sanitarywares Mall,Jihua 4Rd,Foshan
                                City,G.D.,P.R.,China<br>
                                Tel: 86-0757-83557635<br>
                                Fax: 86-0757-83557635<br>
                                E-mail: xujunhangtaoci@163.com</span><span><br>
                                </span>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="subRight">
                    <div class="subRightNav">
                        <span>Are you here：<a href="@Url.Action("Index", "Home")">Home</a> » <a href="@Url.Action("About", "Home")">
                            About Us</a></span>
                    </div>
                    <div class="text_block">
                        <p>@Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))</p>
                    </div>
                    <div class="cle">
                    </div>
                </div>
            </div>
            <div class="cle">
            </div>
            <div class="subBottom">
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>

@*<div class="about-section">
    <div class="container">
        <h3>
            ABOUT US</h3>
        <div class="about-content wow bounceIn animated animated" data-wow-delay="0.4s" style="visibility: visible;
            animation-delay: 0.4s; animation-name: bounceIn;">
            <div class="col-md-5 about-top">
                <img src="../../images/ab.jpg" class="img-responsive" alt="_blank">
            </div>
            <p>@Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))</p>
            <div class="clearfix">
            </div>
        </div>
        <div class="content_bottompart">
            <div class="col-md-4 company_address">
                <h3>
                    Location</h3>
                <p>
                    500 Lorem Ipsum Dolor Sit,</p>
                <p>
                    22-56-2-9 Sit Amet, Lorem,</p>
                <p>
                    USA</p>
                <p>
                    Phone:</p>
                <p>
                    86-27-88888888</p>
                <p>
                    86-27-88889999
                </p>
                <p>
                    86-27-99999998</p>
                <p>
                    Fax:</p>
                    <p>
                    (000) 000 00 00 0</p>
                <p>
                    Email: <span><a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a></span></p>
                <p>
                    Online: <span><img style="cursor: pointer" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=540264959&amp;site=qq&amp;menu=yes', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"
                                border="0" src="../../images/zx.gif" /></span></p>
            </div>
            <div class="col-md-8 contact_info">
                <h3>
                    Find Us Here</h3>
                <div class="map">
                    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0"
                        marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed">
                    </iframe>
                    <br>
                    <small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
                        style="color: #8C8061; text-align: left; font-size: 1em">View Larger Map</a></small>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>*@

@*<div class="nright">
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Products Category</span></h2>
            <ul class="b1">
                @Html.Raw(ViewBag.productCategoty)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Contact Us</span></h2>
            <ul class="b1">
                <strong>Tel:</strong>
                <br />
                86-27-88888888<br />
                86-27-88889999<br />
                86-27-99999998<br />
                <strong>Fax:</strong><br />
                86-27-89898989<br />
                <strong>Email:</strong><br />
                <a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a><br />
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
</div>

<div class="nleft">
    <div class="nleft news-top">
        <div class="news-back">
            <div style="margin-left: 10px;">
                <img src="@Url.Content("/images/ico_2.gif")" />&nbsp;&nbsp;<strong>About Us</strong></div>
        </div>
        <div class="news-content">
            @Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))
        </div>
    </div>
</div>*@


<!--<div class="nleft news-top">
    <div class="news-back">
        <div style="margin-left: 10px;">
            <img src="@Url.Content("/images/ico_2.gif")" />&nbsp;&nbsp;<strong>About Us</strong></div>
    </div>
    <div class="news-content">
        @Html.Raw(HttpUtility.HtmlDecode(ViewData["about"].ToString()))
    </div>
</div>-->
