@using Webdiyer.WebControls.Mvc
@model PagedList<Models.Messages>
@{
    ViewBag.Title = "Message";
}

<link href="@Url.Content("~/Css/style_new.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Css/common.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
        table{text-align:left;}
        .newslist{width:680px;overflow:hidden;padding:0 0 0 20px;font-size:13px;}
        .newslist table{width:100%;height:auto;}
        .newslist table tr{width:100%;min-height:100px;max-height:none;overflow:hidden;}
        .message{width:95%;min-height:80px;max-height:none;border-bottom:1px dashed #d8d8d8;padding-bottom:15px;}
    </style>
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#messageContent").keyup(function () {
                var shu = 250;
                var content = document.getElementById("messageContent").value;
                shu = shu - content.length;
                if (shu < 1) {
                    shu = 0;
                    document.getElementById("messageContent").value = content.substring(0, 250);
                }

                document.getElementById("Number").innerHTML = shu;
            });
            $("#submit").click(function () {
                var code = document.getElementById("Code").value;
                var content = document.getElementById("messageContent").value;
                if (code.replace(/(^\s*)|(\s*$)/g, "") == "" || content.replace(/(^\s*)|(\s*$)/g, "") == "") {
                    alert("Verify that the code or content cannot be empty!!");
                    return false;
                }
                return true;
            });
        });
    </script>

@using (Html.BeginForm("MessageInsert", "Home"))
{

<div class="subMain">
    	<div class="subCen">
            <div class="subNei">
                <div class="subTop">
                	<div class="subLeft">
                        <div class="subLeftTop">
                            <div class="subL_Nav">
                                <div class="indexNav sL">
                                    <span>Message</span>&nbsp;&nbsp;/&nbsp;&nbsp;在线反馈                                </div>
                            </div>
							<ul class=""></ul>
                        </div>
                        <div class="subLeftBottom">
                            <div class="contactText">
                                Address:<br />
                                1805-2, Building 3, COFCO Jinyun, Xixiang Street, Baoan District, Shenzhen, China<br />
                                地址:<br />
                                深圳市宝安区西乡街道中粮锦云3栋1805-2<br />
                                Tel: 86-0757-83557635<br />
                                Fax: 86-0757-83557635<br />
                                E-mail: <a href="mailto:york@sasanpower.com"><span>york@sasanpower.com</span></a>
                                <br />
                                Online:<br />
                                <img style="cursor: pointer" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=565302476&amp;site=qq&amp;menu=yes', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"
                                    border="0" src="@Url.Content("~/images/zx.gif")" />
                            </div>
                        </div>
                    </div>
                    <div class="subRight">
						<div class="subRightNav">
                            <span>Are you here：<a href="@Url.Action("Index", "Home")">Home</a> » <a href="@Url.Action("Message", "Home")">
                            Message</a></span>
                        </div>
                        <div class="text_block">
								<div class="MsgK">
									<style>
									    .MsgList
									    {
									        padding-left: 5px;
									        bottom-top: 25px;
									        overflow: hidden;
									    }
									    .MsgList ul li
									    {
									        width: 725px;
									        padding: 20px 0;
									        display: block;
									        overflow: hidden;
									        border-bottom: 1px dotted #CCCCCC;
									    }
									    .MsgList ul li img
									    {
									        width: 79px;
									        float: left;
									    }
									    .MsgList ul li dd
									    {
									        width: 630px;
									        float: right;
									        display: block;
									    }
									    .MsgList ul li dd a
									    {
									        width: 551px;
									        height: 25px;
									        display: block;
									        font-size: 14px;
									        font-weight: bold;
									        text-align: left;
									        color: #794233;
									    }
									    .MsgList ul li dd a i
									    {
									        float: right;
									        font-size: 11px;
									    }
									    .MsgList ul li dd p
									    {
									        width: 551px;
									        padding-top: 5px;
									        line-height: 25px;
									        text-align: left;
									        font-size: 13px;
									        color: #794233;
									        overflow: hidden;
									    }
									    #myform input, #myform textarea
									    {
									        background: #200f04;
									        color: #fff;
									        border: 1px solid #592f0d;
									    }
									</style>
									<!--留言列表-->
									<div class="MsgList">
                                        @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <!--<div class="message">-->
                            <div style="width: 100%; height: 30px;">
                                <table>
                                    <tr>
                                        <td style="width: 75%">@item.CreateName
                                        </td>
                                        <td style="width: auto;">@item.CreateTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="width: 95%; padding-left: 15px;">@item.MessageContent
                            </div>
                        <!--</div>-->
                    }
                    <table style="width: 100%; height: 30px; text-align: center;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width: 32%;">
                                    Total @(Model.TotalItemCount) Records, Current @(Model.CurrentPageIndex)/@(Model.TotalPageCount) Page 
                                </td>
                                <td style="width: auto; color:#d8a647">
                                    @Html.Pager(Model, new PagerOptions { CssClass = "pager", PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<li style=\"color:#d8a647\"><span>{0}</span></li>", NavigationPagerItemWrapperFormatString  = "<li style=\"color:#d8a647\"><span>{0}</span></li>" })
                                </td>
                            </tr>
                        </table>
                }

										<ul>
										<!---->
										</ul>
									</div>
									<!--留言列表-->
									
									<div class="pages"></div>
									
									<div class="post_box">
										<style>
										    .post_box input, textarea
										    {
										        height: 24px;
										        line-height: 24px;
										        border: 1px solid #D5D5D5;
										        margin: 5px 10px;
										        padding: 2px 5px;
										    }
										    .post_box textarea
										    {
										        height: 100px;
										    }
										</style>

                        <table>
                        <tr>
                            <td align="right"><font color="red">*</font>
                                Name
                            </td>
                            <td>
                                @Html.TextBox("Name")
                            </td>
                        </tr>
                        <tr>
                            <td align="right"><font color="red">*</font>
                                Content
                            </td>
                            <td>
                                @Html.TextArea("messageContent", new { @rows = "6", @cols = "60" })<br />
                                <div style="font-size: 13px;">
                                    最多输入<font color='red'>250</font>个字符，你还可以输入<span id="Number" style="color: Red">0</span>个字符</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right"><font color="red">*</font>
                                Verification code
                            </td>
                            <td>
                                @Html.TextBox("Code")
                                &nbsp;&nbsp; <img src="/validate.aspx" onclick="this.src=this.src+'?'" style="cursor:pointer" title="Refresh" alt="title='Refresh'" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <input type="submit" value="Submit" id="submit" />
                                <input type="reset" value="Reset" id="reset" />
                            </td>
                        </tr>
                    </table>

										<!--<h5>Post Message</h5>
										<form name="myform" id="myform" action="/index.php?g=User&amp;m=Post&amp;a=insert&amp;l=en" method="post">
											<table cellpadding="0" cellspacing="0" class="table_form">
												<input type="hidden" name="catid" value="19">
												<input type="hidden" name="moduleid" value="8">
												<input type="hidden" name="lang" value="2">
												<tbody><tr>
														<td width="100" align="right"><font color="red">*</font> USERNAMES</td>
														<td id="box_usernames">
														<input type="text" class="input-text " name="usernames" id="usernames" value="" size="40" validate=" minlength:2, maxlength:20, required:true">														</td>
													</tr><tr>
														<td width="100" align="right"><font color="red">*</font> Email</td>
														<td id="box_email">
														<input type="text" class="input-text " name="email" id="email" value="" size="40" validate=" maxlength:40, required:true, email:true">														</td>
													</tr><tr>
														<td width="100" align="right"> Tel</td>
														<td id="box_telephone">
														<input type="text" class="input-text " name="telephone" id="telephone" value="" size="40" validate=" tel:true">														</td>
													</tr><tr>
														<td width="100" align="right"><font color="red">*</font> Content</td>
														<td id="box_content">
														<textarea class="" name="content" rows="10" cols="60" id="content" validate=" minlength:2, maxlength:200, required:true"></textarea>														</td>
													</tr><tr>
														<td width="100" align="right"><font color="red">*</font> VerifyCode</td>
														<td id="box_verifyCode">
														<input class="input-text " name="verifyCode" id="verifyCode" value="" size="10" validate=" minlength:4, maxlength:4, required:true, en_num:true"><img src="/index.php?m=Index&amp;a=verify&amp;l=en" onclick="javascript:resetVerifyCode();" class="checkcode" align="absmiddle" title="点击刷新验证码" id="verifyImage">														</td>
													</tr>												<tr>
														<td width="100"></td>
														<td><input type="submit" value="Dosubmit" class="" style=" width:80px; height:25px;">
												<input type="reset" value="Reset" class="" style=" width:80px; height:25px;"></td>
												</tr>
											</tbody></table>
										</form>-->
									</div>
								</div>
							</div>                        
                        <div class="cle"></div>
                    </div>
                </div>
                	<div class="cle"></div>
               <div class="subBottom"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
}