@using Webdiyer.WebControls.Mvc;
@model PagedList<Models.News>

<link href="@Url.Content("~/Css/style_new.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Css/common.css")" rel="stylesheet" type="text/css" />

@*<style type="text/css">
    .newslist
    {
        width: 680px;
        overflow: hidden;
        padding: 0 0 0 20px;
        font-size: 14px;
    }
    .newslist table
    {
        width: 100%;
        height: auto;
    }
    .newslist table tr
    {
        width: 100%;
        height: 25px;
        overflow: hidden;
    }
</style>*@
@*<div class="nright">
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Products Category</span></h2>
            <ul class="b1">
                @Html.Raw(ViewBag.productCategoty)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Contact Us</span></h2>
            <ul class="b1">
                <strong>Tel:</strong> <br/>
                86-27-88888888<br />
                86-27-88889999<br />
                86-27-99999998<br />
                <strong>Fax:</strong><br/>
                86-27-89898989<br />
                <strong>Email:</strong><br />
                <a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a><br />
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <!--<div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Hot News</span></h2>
            <ul class="ul_txt">
                @Html.Raw(ViewBag.hot)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>-->
</div>*@
@*<div class="nleft">
    <div class="mode">
        <div class="rm_u">
            &nbsp;</div>
        <div class="container" style="min-height: 500px; max-height: none;">
            <h2 class="title">@Html.Raw(ViewBag.name)</h2>
            <div class="newslist">
                <br />
                @if (Model != null)
                {
                    <table cellpadding="0" cellspacing="0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="80%">
                                    <a href="@Url.Action("NewsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank" title="@item.Title">@item.Title</a>
                                </td>
                                <td>@item.CreateTime.Value.ToString("yyyy-MM-dd")
                                </td>
                            </tr>
                        }
                    </table>
                    <table style="width: 100%; height: 30px; text-align: left;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width: 55%;">
                                Total @(Model.TotalItemCount) Records, each Page @(Model.PageSize) Records, Current @(Model.CurrentPageIndex)/@(Model.TotalPageCount) Page 
                                <!--共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.TotalPageCount)/@(Model.CurrentPageIndex)页-->
                            </td>
                            <td style="width: auto;">
                                @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<span class=\"cpb\">{0}</span>" }, null, null, null)
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="rm_d">
            &nbsp;</div>
    </div>
</div>*@

<div class="subMain">
    	<div class="subCen">
            <div class="subNei">
                <div class="subTop">
                	<div class="subLeft">
                        <div class="subLeftTop">
                            <div class="subL_Nav">
                                <div class="indexNav sL">
                                    <span>News</span>&nbsp;&nbsp;/&nbsp;&nbsp;新闻中心                                </div>
                            </div>
                        </div>
                        <div class="subLeftBottom">
                            <div class="contactText">
                                <span>Add: No.1,2th floor ,Building 4,Case Ceramics&amp;Sanitarywares Mall,Jihua 4Rd,Foshan City,G.D.,P.R.,China<br>
Tel: 86-0757-83557635<br>
Fax: 86-0757-83557635<br>
E-mail: xujunhangtaoci@163.com</span><span><br>
</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="subRight">
						<div class="subRightNav">
                        	<span>Are you here：<a href="@Url.Action("Index", "Home")">Home</a> » <a href="@Url.Action("NewsList", "Home")">
                            News</a></span>
                        </div>
						<div class="text_block">
							<!--新闻列表-->
							<div class="NewsList2">
                            @foreach (var item in Model)
                            {
                                <dl class="yahei">
					                <dt>
						                <p><span>@item.CreateTime.Value.ToString("dd")</span> 日</p>
						                <p>@item.CreateTime.Value.ToString("yyyy-MM")</p>                                    
					                </dt>
					                <dd>
						                <div class="news_title"><a href="@Url.Action("NewsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank" title="@item.Title">@item.Title</a></div>
						                <div class="news_more"><a href="@Url.Action("NewsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank" title="@item.Title">Detail</a></div>
						                <div class="news_text">
                                            @if(@item.NewsContent.ToString().Length > 100)
                                            {
                                                <p>@item.NewsContent.ToString().Substring(0, 100) + "..."</p>
                                            }
                                            else
                                            {
                                                <p>@item.NewsContent.ToString()</p>
                                            }
						                </div>
					                </dd>
				                </dl>
                            }
							</div>
							<!--新闻列表-->
						</div>
                        <table style="width: 100%; height: 30px; text-align: center;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width: 32%;">
                                    Total @(Model.TotalItemCount) Records, Current @(Model.CurrentPageIndex)/@(Model.TotalPageCount) Page 
                                </td>
                                <td style="width: auto; color:#d8a647">
                                    @Html.Pager(Model, new PagerOptions { CssClass = "pager", PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<li style=\"color:#d8a647\"><span>{0}</span></li>", NavigationPagerItemWrapperFormatString  = "<li style=\"color:#d8a647\"><span>{0}</span></li>" })
                                </td>
                            </tr>
                        </table>
                        <!--<div class="cle"></div>-->
						<!--<div class="pages"></div>-->
                    </div>
                </div>
                	<div class="cle"></div>
               <div class="subBottom"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
