@model Models.News

<link href="@Url.Content("~/Css/style_new.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Css/common.css")" rel="stylesheet" type="text/css" />

@*<style type="text/css">
    .news-top
    {
        width: 99.3%;
        min-height: 600px;
        max-height: none;
        border: 1px solid #c5dde9;
        text-align: center;
        margin-left: 4px;
    }
    .news-back
    {
        width: 100%;
        height: 31px;
        background-image: url("@Url.Content("/images/3.png")");
        padding-top: 5px;
        text-align: left;
    }
    .news-title
    {
        width: 95%;
        height: 25px;
        margin-top: 10px;
        font-size: 20px;
        color: #0170d9;
    }
    .news-note
    {
        width: 95%;
        height: 20px;
        border-bottom: 1px dashed #d8d8d8;
        text-align: right;
        font-size: 13px;
        margin-left: auto;
        margin-right: auto;
    }
    .news-content
    {
        width: 95%;
        height: auto;
        margin-top: 10px;
        text-align: left;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
</style>*@

@*<div class="nright">
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Products Category</span></h2>
            <ul class="b1">
                @Html.Raw(ViewBag.productCategoty)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Contact Us</span></h2>
            <ul class="b1">
                <strong>Tel:</strong>
                <br />
                86-27-88888888<br />
                86-27-88889999<br />
                86-27-99999998<br />
                <strong>Fax:</strong><br />
                86-27-89898989<br />
                <strong>Email:</strong><br />
                <a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a><br />
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
</div>*@

@*<div class="nleft">
    <div class="nleft news-top">
        <div class="news-back"><div style="margin-left:10px;"><img src="@Url.Content("/images/ico_2.gif")" />&nbsp;&nbsp;<strong>News Detail</strong></div></div>
        @if (Model != null)
        {
            string file = string.Empty;
            <div class="news-title"><strong>@Model.Title</strong></div>
            <div class="news-note">
                @if (Model.IsFile != null && Model.IsFile != 0)
                {
                    file = "<a href=\"/Home/DownLoad?ID=" + Model.ID + "&path=" + HttpUtility.UrlEncode(Model.FilePath) + "\" target=\"_blank\">Download</a>";
                }
                @(Html.Raw(file))  &nbsp;&nbsp;Author:@Model.Author&nbsp;&nbsp;From:@Model.Source&nbsp;&nbsp;Update Time:@Model.CreateTime.Value.ToString("yyyy-MM-dd")
            </div>
            <div class="news-content">
                 @Html.Raw(Model.NewsContent)
         </div>
        }
    </div>
</div>*@



<div class="subMain">
    	<div class="subCen">
            <div class="subNei">
                <div class="subTop">
                    <div class="subLeft">
                        <div class="subLeftTop">
                            <div class="subL_Nav">
                                <div class="indexNav sL">
                                    <span>News</span>&nbsp;&nbsp;/&nbsp;&nbsp;新闻中心
                                </div>
                            </div>
                        </div>
                        <div class="subLeftBottom">
                            <div class="contactText">
                                <span>Add: No.1,2th floor ,Building 4,Case Ceramics&amp;Sanitarywares Mall,Jihua 4Rd,Foshan
                                    City,G.D.,P.R.,China<br>
                                    Tel: 86-0757-83557635<br>
                                    Fax: 86-0757-83557635<br>
                                    E-mail: xujunhangtaoci@163.com</span><span><br>
                                    </span>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="subRight">
						<div class="subRightNav">
                        	<span>Are you here：<a href="@Url.Action("Index", "Home")">Home</a> » <a href="@Url.Action("NewsList", "Home")">
                            News</a> » <a href="@Url.Action("NewsDetail", "Home")">@Model.Title</a>
                            </span>
                        </div>

                        <div class="text_block">
                            <h1 style="text-align: center">
                                @Model.Title</h1>
                            <div class="comments">
                                <ul class="links" style="float: right;">
                                    <li><i class="blog_icon1" alt="CreateTime"></i>
                                        <br>
                                        <span>@Model.CreateTime</span></li>
                                    <li><i class="blog_icon2"></i>
                                        <br>
                                        <span>@Model.Author</span></li>
                                    <li><i></i>
                                        <br>
                                        <span>@Model.Source</span></li>
                                </ul>
                                <div class="clearfix">
                                </div>
                            </div>
                            <br />
                            @if (File.Exists("~/File" + @Model.ImagePath))
                            {
                                <a>
                                    <img src="@Url.Content("~/File/" + @Model.ImagePath + "")" alt="@Model.Title" title="@Model.Title" class="img-responsive" /></a>
                            }
                            <p>
                                @Model.NewsContent
                            </p>
                            <br />
                            <br />
                            <!--Next : <a href="@Url.Action("NewsDetail", "Home")">@Model.Title</a><br />
                            Previous : <a href=""></a>-->
                        </div>
                        <div class="cle">
                        </div>
                    </div>
                </div>
                	<div class="cle"></div>
               <div class="subBottom"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
