@using Webdiyer.WebControls.Mvc;
@model PagedList<Models.Products>
<div class="container">
    <div class="row single-top">
        <div class="col-md-8">
            @foreach (var item in Model)
            {
            @*<li><a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank">
                <img src="@Url.Content("/File/" + @item.ImagePath + "")" alt="@item.Title" title="@item.Title" /></a>
                <span><a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank">@item.Title</a></span>
            </li>*@
        
                <div class="blog_box">
                    <div class="blog_grid">
                        <h3 class="wow rollIn animated animated" data-wow-delay="0.4s" style="visibility: visible;
                            animation-delay: 0.4s; animation-name: rollIn;">
                            <a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })">@item.Title
                            </a>
                        </h3>
                        <a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })">
                            @*<img src="../../images/ab.jpg" class="img-responsive" alt=""></a>*@
                            <img src="@Url.Content("/File/" + @item.ImagePath + "")" alt="@item.Title" title="@item.Title" class="img-responsive" /></a>
                        <div class="singe_desc">
                            <p>
                                @item.Description</p>
                            @*<div class="comments">
                        <ul class="links">
                            <li><i class="blog_icon1"></i>
                                <br>
                                <span>April 14, 2014</span></li>
                            <li><a href="#"><i class="blog_icon2"></i>
                                <br>
                                <span>admin</span></a></li>
                            <li><a href="#"><i class="blog_icon3"></i>
                                <br>
                                <span>1206</span></a></li>
                            <li><a href="#"><i class="blog_icon4"></i>
                                <br>
                                <span>1206</span></a></li>
                        </ul>
                        <div class="btn_blog">
                            <a href="single.html">
                                <img src="images/read.png" class="img-responsive" alt=""></a></div>
                        <div class="clearfix">
                        </div>
                    </div>*@
                        </div>
                    </div>
                </div>
        
            }
        </div>
        <div class="col-md-4 ">
            <div class="categories">
                <h4 class="wow fadeInRight animated animated" data-wow-delay="0.4s" style="visibility: visible;
                    animation-delay: 0.4s; animation-name: fadeInRight;">
                    Product Category</h4>
                <ul class="category">
                    @Html.Raw(ViewBag.productCategoty)
                </ul>
            </div>
        </div>
        @*<h3>
            Product Category</h3>
        <div class="trainee-grids">
            <div class="col-md-4 trainee-grid wow zoomInLeft animated animated" style="visibility: visible;
                animation-name: zoomInLeft;">
                <a href="single.html">
                    <img src="../../images/logo.png" class="img-responsive" alt=""></a>
                <div class="date">
                    <lable>30</lable>
                    <span>Mar</span>
                </div>
                <a href="single.html">
                    <h4>
                        Lorem ipsum dolor sit amet,</h4>
                    <h5>
                        consectetuer adipiscing.</h5>
                </a>
                <p>
                    Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim,
                    pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
            </div>
            <div class="col-md-4 trainee-grid wow fadeInUpBig animated animated animated" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpBig;">
                <a href="single.html">
                    <img src="images/b2.jpg" class="img-responsive" alt=""></a>
                <div class="date">
                    <lable>30</lable>
                    <span>Aug</span>
                </div>
                <a href="single.html">
                    <h4>
                        Lorem ipsum dolor sit amet,</h4>
                    <h5>
                        consectetuer adipiscing.</h5>
                </a>
                <p>
                    Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim,
                    pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
            </div>
            <div class="col-md-4 trainee-grid wow zoomInRight animated animated" style="visibility: visible;
                animation-name: zoomInRight;">
                <a href="single.html">
                    <img src="images/b3.jpg" class="img-responsive" alt=""></a>
                <div class="date">
                    <lable>15</lable>
                    <span>Nov</span>
                </div>
                <a href="single.html">
                    <h4>
                        Lorem ipsum dolor sit amet,</h4>
                    <h5>
                        consectetuer adipiscing.</h5>
                </a>
                <p>
                    Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim,
                    pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
            </div>
            <div class="clearfix">
            </div>
        </div>*@
    </div>
</div>


@*<div class="nright">
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Products Category</span></h2>
            <ul class="b1">
                @Html.Raw(ViewBag.productCategoty)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Contact Us</span></h2>
            <ul class="b1">
                <strong>Tel:</strong> <br/>
                86-27-88888888<br />
                86-27-88889999<br />
                86-27-99999998<br />
                <strong>Fax:</strong><br/>
                86-27-89898989<br />
                <strong>Email:</strong><br />
                <a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a><br />
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <!--<div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Hot News</span></h2>
            <ul class="ul_txt">
                @Html.Raw(ViewBag.hot)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>-->
</div>*@
@*<div class="nleft">
    <div class="mode">
        <div class="rm_u">
            &nbsp;</div>
        <div class="container" style="min-height: 600px; max-height: none;">
            <h2 class="title">@Html.Raw(ViewBag.name)</h2>
            <div class="ul_img">
                @if (Model != null)
                {
                    <ul>
                        @foreach (var item in Model) {
                        <li><a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank">
                            <img src="@Url.Content("/File/" + @item.ImagePath + "")" alt="@item.Title" title="@item.Title" /></a>
                            <span><a href="@Url.Action("ProductsDetail","Home",new{ID=item.ID,time=item.CreateTime.Value.ToString("yyyy-MM-dd")})" target="_blank">@item.Title</a></span>
                        </li>
                        }
                    </ul>
                    <div class="clear">
                    </div>
                    <table style="width: 100%; height: 30px; text-align: left;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width: 55%;">
                                Total @(Model.TotalItemCount) Records, each Page @(Model.PageSize) Records, Current @(Model.CurrentPageIndex)/@(Model.TotalPageCount) Page 
                                <!--共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.TotalPageCount)/@(Model.CurrentPageIndex)页-->
                            </td>
                            <td style="width: auto;">
                                @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<span class=\"cpb\">{0}</span>" }, null, null, null)
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="rm_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
</div>*@
