@using Webdiyer.WebControls.Mvc;
@model PagedList<Models.Products>

@*<link href="@Url.Content("~/Css/lanrenzhijia.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/lanrenzhijia.js")" type="text/javascript" ></script>*@

@*<style type="text/css">
	.wrap-menu { overflow:auto; width:300px; background:#F6F6F6; font:12px/1.5 Tahoma,Arial,sans-serif}
	.wrap-menu ul{ list-style:none; margin:0; padding:0;}
	.wrap-menu ul li{ text-indent:3em; white-space:nowrap; }
	.wrap-menu ul li h2{ cursor:pointer; height:100%; width:100%; margin:0 0 1px 0; font:12px/31px '宋体'; color:#fff; background:red;}
	.wrap-menu ul li a{ display:block; outline:none; height:25px; line-height:25px; margin:1px 0; color:#1A385C; text-decoration:none;}
	.wrap-menu ul li img{ margin-right:10px; margin-left:-17px; margin-top:9px; width:7px; height:7px; background:url(~/images/arrow.gif) no-repeat; border:none;}
	.wrap-menu ul li img.unfold{ background-position:0 -9px;}
	.wrap-menu ul li a:hover{ background-color:#ccc; background-image:none;}
  </style>  <script type="text/javascript">
      
      //同步获取
//      $.ajax({
//          type: 'GET',
//          url: '/Home/GetMenuData?r=' + Math.random(),
//          async: false, //同步
//          dataType: 'json',
//          success: function (json) {
//              testMenu = json;
//          },
//          error: function (xhr, status, error) {
//              alert("操作失败"); //xhr.responseText
//          }
//      });
      //alert(testMenu);


      $(function () {
          //var menuData = [];
          //var testMenu = $.parseJSON($("#menuData").val().replace(/[\r\n]/g, ""));
          //eval(testMenu);
          //menuData.push(testMenu);

          var testMenu = [{ "name": "10", "url": "/Home/ProductsList?NID=10&name=Ceramic Tiles", "submenu": [{ "name": "13", "url": "/Home/ProductsList?NID=13&name=Crystal Stone Series" }, { "name": "14", "url": "/Home/ProductsList?NID=14&name=Glazed Polished Series"}] }, { "name": "11", "url": "/Home/ProductsList?NID=11&name=LED Lights" }, { "name": "12", "url": "/Home/ProductsList?NID=12&name=Others"}];

          new AccordionMenu({ menuArrs: testMenu });
      });</script>*@

<style type="text/css">
.navi ul li
{
list-style:none;
line-height:20px;
margin:0;
padding-left:6px;
}
.child{
display:none;
}
.navi a
{
    color:#d8a647;
display:block;
/*color:#5c84c1;*/
padding-left:22px;
}
.navi a:hover
{
    background-color:#ccc
}
.cur{ background:#D96C00; font-weight:bold;}
</style>
<script language="javascript" type="text/javascript">
    //说明 所有的元素以ul li ul li ul li的循环格式嵌套 如果没有下级分类 就用li a结束嵌套
    $(document).ready(function () {
        //$(".nav ul li").children("ul").hide();
        $(".navi").find("li").not(":has(ul)").children("a").css({ textDecoration: "none", background: "none" })
.click(function () {
    $(this).get(0).location.href = "'" + $(this).attr("href") + "'";
});
        $(".navi").find("li:has(ul)").children("a").css({ background: "url(../images/sprite.png) 15px 13px no-repeat;" })
.click(function () {
    if ($(this).next("ul").is(":hidden")) {
        $(this).next("ul").slideDown("slow");
        if ($(this).parent("li").siblings("li").children("ul").is(":visible")) {
            $(this).parent("li").siblings("li").find("ul").slideUp("1000");
            $(this).parent("li").siblings("li:has(ul)").children("a").css({ background: "url(../images/sprite.png) 15px 13px no-repeat;" })
.end().find("li:has(ul)").children("a").css({ background: "url(../images/sprite.png) 15px 13px no-repeat;" });
        }
        $(this).css({ background: "url(../images/sprite.png) no-repeat left top;" });
        return false;
    } else {
        $(this).next("ul").slideUp("normal");
        //不用toggle()的原因是为了在收缩菜单的时候同时也将该菜单的下级菜单以后的所有元素都隐藏
        $(this).css({ background: "url(../images/sprite.png) 15px 13px no-repeat;" });
        $(this).next("ul").children("li").find("ul").fadeOut("normal");
        $(this).next("ul").find("li:has(ul)").children("a").css({ background: "url(../images/sprite.png) 15px 13px no-repeat;" });
        return false;
    }
});
    });
</script>

<script type="text/javascript">

    $("#navi a").each(function () {
        var urlstr = location.href;
        //alert((urlstr + '/').indexOf($(this).attr('href')));
        var urlstatus = false;
        if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != '') {
            $(this).addClass('cur'); urlstatus = true;
        } else {
            $(this).removeClass('cur');
        }
    });
    if (!urlstatus) { $("#navi a").eq(0).addClass('cur'); }
</script>


<link href="@Url.Content("~/Css/style_new.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Css/common.css")" rel="stylesheet" type="text/css" />


<div class="subMain">
    	<div class="subCen">
            <div class="subNei">
                <div class="subTop">
                	<div class="subLeft">
                        <div class="subLeftTop">
                            <div class="subL_Nav">
                                <div class="indexNav sL">
                                    <span>Products</span>&nbsp;&nbsp;/&nbsp;&nbsp;产品展示                                </div>
                            </div>


                <div class="navi" id="navi">
                    @Html.Raw(ViewBag.productCategoty)
                </div>


							@*<ul class=""><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=57&amp;l=en" title="800 Micro crystalline Tiles" class=""><i></i>800 Micro crystalline Tiles</a>
                                        <ul style="display:none"><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=84&amp;l=en" title="A Series" class=""><i></i>A Series</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=85&amp;l=en" title="B Series" class=""><i></i>B Series</a></li></ul></li>
                                <li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=58&amp;l=en" title="⊙600 Marble Tiles" class=""><i></i>⊙600 Marble Tiles</a>
                            <ul style="display:none"><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=82&amp;l=en" title="A Series" class=""><i></i>A Series</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=83&amp;l=en" title="B Series" class=""><i></i>B Series</a></li></ul></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=59&amp;l=en" title="⊙800 Marble Tiles" class=""><i></i>⊙800 Marble Tiles</a>
                            <ul style="display:none"><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=80&amp;l=en" title="A Series" class=""><i></i>A Series</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=81&amp;l=en" title="B Series" class=""><i></i>B Series</a></li></ul></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=60&amp;l=en" title="⊙Polished Tiles" class=""><i></i>⊙Polished Tiles</a>
                            <ul style="display:none"><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=61&amp;l=en" title="Crystalline Powder  Tiles" class=""><i></i>Crystalline Powder  Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=62&amp;l=en" title="Jade Dragon Stone  Tiles" class=""><i></i>Jade Dragon Stone  Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=63&amp;l=en" title="Line Stone  Tiles" class=""><i></i>Line Stone  Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=64&amp;l=en" title="China Jade Tiles" class=""><i></i>China Jade Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=65&amp;l=en" title="Coral Jade Tiles" class=""><i></i>Coral Jade Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=66&amp;l=en" title="Tulip Tiles" class=""><i></i>Tulip Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=67&amp;l=en" title="Snow Lotus Tiles" class=""><i></i>Snow Lotus Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=68&amp;l=en" title="Ice Crack Stone Tiles" class=""><i></i>Ice Crack Stone Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=69&amp;l=en" title="Auspicious Jade Tiles" class=""><i></i>Auspicious Jade Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=70&amp;l=en" title="Rainbow Stone Tiles" class=""><i></i>Rainbow Stone Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=71&amp;l=en" title="Natural Stone Tiles" class=""><i></i>Natural Stone Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=72&amp;l=en" title="Flies Ghost Tiles" class=""><i></i>Flies Ghost Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=73&amp;l=en" title="Choi Stone Tiles" class=""><i></i>Choi Stone Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=74&amp;l=en" title="Blatty Rhyme Tiles" class=""><i></i>Blatty Rhyme Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=75&amp;l=en" title="Roman Travertine Tiles" class=""><i></i>Roman Travertine Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=76&amp;l=en" title="Taxuewuhen Tiles" class=""><i></i>Taxuewuhen Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=77&amp;l=en" title="Pure Love Tiles" class=""><i></i>Pure Love Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=78&amp;l=en" title="Tianzi Jade Tiles" class=""><i></i>Tianzi Jade Tiles</a></li><li class=""><a href="/index.php?m=Product&amp;a=index&amp;id=79&amp;l=en" title="Super White Tiles" class=""><i></i>Super White Tiles</a></li></ul></li></ul>*@
                        </div>
                        <div class="subLeftBottom">
                            <div class="contactText">
                                <span>Add: No.1,2th floor ,Building 4,Case Ceramics&amp;Sanitarywares Mall,Jihua 4Rd,Foshan City,G.D.,P.R.,China<br>
Tel: 86-0757-83557635<br>
Fax: 86-0757-83557635<br>
E-mail: xujunhangtaoci@163.com</span><span><br>
</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="subRight">
						<div class="subRightNav">
                        	<span>Are you here：<a href="/index.php?l=en">Home</a> »  <a href="/index.php?m=Product&amp;a=index&amp;id=16&amp;l=en">Products</a></span>
                        </div>
                        <div class="piclist">
                            <ul>
                            @foreach (var item in Model)
                            {
                <li>
                    <span>
                    <a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" class="pic_box" title="@item.Title">
                            <img src="@Url.Content("/File/" + @item.ImagePath + "")" alt="@item.Title" title="@item.Title" width="160" height="160" style="margin-top: 0px; visibility: visible;" /></a>                                                                             
                                    </span>   
                                         <a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" class="pic_lab" title="@item.Title">@item.Title</a>
                </li>
                            }

                             @*<li>
                                    <span>
                                        <a href="/index.php?m=Product&amp;a=show&amp;id=447&amp;l=en" class="pic_box" title="GW8315"><img src="/Uploads/images/s_538d82d1155f1.jpg" alt="GW8315" width="160" height="160" style="margin-top: 0px; visibility: visible;"></a>                                                                                
                                    </span>   
                                         <a href="/index.php?m=Product&amp;a=show&amp;id=447&amp;l=en" class="pic_lab" title="GW8315">GW8315</a>        
                                </li>*@
                            </ul>
                        </div>
                        <div class="cle"></div>
                        <table style="width: 100%; height: 30px; text-align: center;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width: 32%;">
                                    Total @(Model.TotalItemCount) Records, Current @(Model.CurrentPageIndex)/@(Model.TotalPageCount) Page 
                                </td>
                                <td style="width: auto; color:#d8a647">
                                    @Html.Pager(Model, new PagerOptions { CssClass = "pager", PageIndexParameterName = "id", NumericPagerItemWrapperFormatString = "<li style=\"color:#d8a647\"><span>{0}</span></li>", NavigationPagerItemWrapperFormatString  = "<li style=\"color:#d8a647\"><span>{0}</span></li>" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                	<div class="cle"></div>
               <div class="subBottom"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>




@*<div class="nright">
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Products Category</span></h2>
            <ul class="b1">
                @Html.Raw(ViewBag.productCategoty)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
    <div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Contact Us</span></h2>
            <ul class="b1">
                <strong>Tel:</strong> <br/>
                86-27-88888888<br />
                86-27-88889999<br />
                86-27-99999998<br />
                <strong>Fax:</strong><br/>
                86-27-89898989<br />
                <strong>Email:</strong><br />
                <a href="mailto:qiaofeng5251264@126.com">qiaofeng5251264@126.com</a><br />
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>
    <!--<div class="tool">
        <div class="rs_u">
            &nbsp;</div>
        <div class="container">
            <h2>
                <span class="border_line">Hot News</span></h2>
            <ul class="ul_txt">
                @Html.Raw(ViewBag.hot)
            </ul>
        </div>
        <div class="rs_d">
            &nbsp;</div>
    </div>-->
</div>*@
@*<div class="nleft">
    <div class="mode">
        <div class="rm_u">
            &nbsp;</div>
        <div class="container" style="min-height: 600px; max-height: none;">
            <h2 class="title">@Html.Raw(ViewBag.name)</h2>
            <div class="ul_img">
                @if (Model != null)
                {
                    <ul>
                        @foreach (var item in Model) {
                        <li><a href="@Url.Action("ProductsDetail", "Home", new { ID = item.ID, time = item.CreateTime.Value.ToString("yyyy-MM-dd") })" target="_blank">
                            <img src="@Url.Content("/File/" + @item.ImagePath + "")" alt="@item.Title" title="@item.Title" /></a>
                            <span><a href="@Url.Action("ProductsDetail","Home",new{ID=item.ID,time=item.CreateTime.Value.ToString("yyyy-MM-dd")})" target="_blank">@item.Title</a></span>
                        </li>
                        }
                    </ul>
                    <div class="clear">
                    </div>
                    
                }
            </div>
        </div>
        <div class="rm_d">
            &nbsp;</div>
    </div>
    <div class="line10">
    </div>
</div>*@
